<div class="jumbotron">
    <div class="container">
      <h1>Welcome to <span class='mainHead' >MakerGram</span>!</h1>
      <p>This is an exercise at Makers Academy to develop our skills with Ruby on Rails. I have created a program that allows a user to post images and attach tags and comments to those images.
      <br><br>
      The back end is written in Ruby on Rails, using Postgresql database and with file hosting on AWS S3. All development was behaviour driven, using RSpec & Capybara. The front end was created using HTML, CSS, Javascript with JQuery and Bootstrap.
      </p>
      <p><%= link_to 'Sign up', new_user_registration_path, class: "btn btn-success btn-lg signup" %></p>
  </div>
</div>

