<div class='posts-container container'>
  <% if @posts.none? %>
  No posts yet
  <% else %>
  <div class='row'>

  <%= render @posts %>

  </div><!-- row -->
  <% end %>
  
  

</div><!-- container -->
