<div class='posts-container container'>
  <% if @posts.none? %>
  No posts yet
  <% else %>
  <div class='row'>

  <%= render @posts %>

  </div><!-- row -->
  <% end %>
  <%= link_to "New Post", new_post_path %>
  

</div><!-- container -->
