<div class='posts-container container'>
  <% if @posts.none? %>
  No posts yet
  <% else %>
  <div class='row'>
  <% if @tag %>
    <h3 class='taghead'> Showing posts tagged with <%= @tag.name %> </h3>
  <% end %>

  <%= render @posts %>

  </div><!-- row -->
  <% end %>
  
  

</div><!-- container -->
