/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import 'bootstrap';

.jumbotron {
  background: image-url('pebbles.jpg');
  background-size: cover;
  margin-top: 25px;
  border: 1px solid black;
  .container{
    background: rgba(255, 255, 255, 0.85);
    border-radius: 5px;
    border: 1px solid black;
  }

  .btn {
    float: right;
    position: relative;
    top: 23px;
    right: 10px;
    border: 2px solid black;
    background-color: red;
  }
}


.navbar {
  background-color: #FFF;
  .navbar-brand {
    color:black;
  }
}

.navbar-inverse .navbar-brand {
    color: red;
    background-color: transparent;
}

.navbar-inverse .navbar-brand:hover {
    color: #000;
    background-color: transparent;
}

.navbar-inverse .navbar-toggle:hover {
  background-color: red;
}

.navbar-inverse .navbar-toggle {
  background-color: grey;
}

body {
  margin: 60px;
  background-image: image-url('brickwall.png') ;
  background-attachment: fixed;
}

.navbar-brand:active {
  color: red;
}

.panel-heading {
  margin-top: 0px;
  margin-bottom: 0px;
}

footer {
  position: fixed;
  width: 255px;
  background: rgba(255,255,255,0.8);
  bottom: 5px;
  right: 0px;
  border-radius: 5px 0 0 5px;
}

.signupmodalform {
  margin-left: 15px;
}

.btn.signup {
  margin-top: 10px;
}