
.mainHead {
  color: red;
}

img.uploaded-pic {
  margin-top: 5px;
  max-width: 100%;
}

.panelBtn {
  margin-bottom: 10px;
  float: right;
  margin-left: 5px;
}

.posts-container {
  text-align: left;
}

.panel-buttons {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  background-color: rgba(255,255,255,1)
}

.btn.btn-default.like_button {
  float: left;
  margin-bottom: 5px;
  display: inline;
}

.btn.btn-default.unlike_button {
  display: inline;
  float: left;
  margin-bottom: 5px;
  color: red;
}

.map_btn {
  float: right;
  position: relative;
  top: 5px;
}

.taghead {
  padding-left: 15px;
  margin-bottom: 20px;
}

.new-post-field {
  display:block;
  overflow: visible;
}

.new-post-container {
  width: 100%;
  text-align: center;
  overflow: visible;
}


.new-post-picture {
  text-align: right;
  overflow: visible;
  width: 257px;
}

#post_picture {
  float: right;
  position: relative;
  width: 175px;
  overflow: visible;
  margin-left: 3px;
}

.new_post {
  width: 236px;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

.modal-footer.post {
  text-align: left;
}


